@use "variables" as *;

@mixin flex-center($justify: start, $align: center) {
  display: flex;
  gap: $spacing-md;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

@mixin transition($property, $duration: 0.3s, $timing: ease-in-out) {
  transition: $property $duration $timing;
}