@use "variables" as *;

.gap-md {
  gap: $spacing-md;
}
.gap-xs {
  gap: $spacing-xs;
}
.p-xs {
  padding: $spacing-xs;
}
.text-center {
  text-align: center;
}

.bg-primary {
  background-color: $primary-color;
}

.b1{
  background-color: red;
}
.b2{
  background-color: blue;
}
.b3{
  background-color: green;
}
.b4{
  background-color: yellowgreen;
}
.b5{
  background-color: brown;
}